table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

thead th{
    border: 1px solid #af6969;
    position: sticky;
    top: 0;
}
tr th{
    background: #af6969;
}

tr:nth-child(even) {
background-color: #dddddd;
}